<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>statik-white-logo.ico">
    <title>SIE</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app"></div>

    <!-- built files will be auto injected -->
  </body>

<script>
    // Prevent context menu to show
    document.addEventListener('contextmenu', event => event.preventDefault());
</script>

<style>
    html {
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #222;
    }
</style>
</html>
