<template>
  <div>
    <AppWindow
        v-bind:show="show"
        title="Open a project"
        cancelable
        @canceled="() => this.$emit('canceled')"
        width="650"
        height="500"
        unsubmitable
    >
      <br>
      <v-text-field
          label="Find by name"
          v-model="projectName"
          color="secondary"
          prepend-icon="mdi-magnify"
      ></v-text-field>
      <div id="projectList" class="scroll">
        <v-list two-line v-if="projectList.length !== 0">
          <template v-for="(project, index) in filteredProjects">
            <v-divider :key="index"></v-divider>

            <v-list-item :key="project[0]" class="project" @click="() => onProjectSelected(project[0])">
              <v-list-item-content>
                <v-list-item-title v-html="project[0]"></v-list-item-title>
                <v-list-item-subtitle v-html="project[1]"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
        <span v-else style="margin-left: 15px">
          No recent project, please create one first
        </span>
      </div>

      <template v-slot:submit-text>
        Open
      </template>

    </AppWindow>
    <AppWindow :show="failedToLoadProjects" unsubmitable title="Critical error">
      <br>
      Failed to load projects, please restart the application.
    </AppWindow>
  </div>
</template>

<script>

import AppWindow from './../AppWindow/AppWindow'
import {SendRequest, API} from '@/websocket'
import {AppContext} from '@Util'

export default {
  name: 'OpenProject',
  components: {
    AppWindow
  },
  props: {
    show: Boolean
  },
  data: () => ({
    projectName: '',
    projectList: [],
    failedToLoadProjects: false,
  }),
  computed: {
    filteredProjects() {
      return this.projectList.filter(project => {
        return project[0].toLowerCase().match(this.projectName.toLowerCase())
      })
    }
  },
  created() {

  },
  watch: {
    show(val) {
      Object.assign(AppContext, {mode: val ? 0 : 2})
      if (val) {
        SendRequest(API.listAllProject())
            .then(res => {
              this.projectList = res.data
              this.projectList.forEach(project => {
                project[1] = project[1].split('.')[0]
              })
            })
      }
    }
  },
  methods: {
    onProjectSelected(name) {
      this.$emit('project', name)
    }
  }
}
</script>

<style>
#projectList {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #222;
}

.project {
  background-color: #222;
}

.project:hover {
  background-color: #292929;
  cursor: pointer;
}

</style>