<template>
  <v-toolbar tile dense>
    <v-btn depressed large>
      <v-icon>
        mdi-pencil
      </v-icon>
      <div style="width: 7px"> &nbsp; </div>
      Edit
    </v-btn>
    <v-btn depressed large>
      <v-icon>
        mdi-theme-light-dark
      </v-icon>
      <div style="width: 7px"> &nbsp; </div>
      Switch theme
    </v-btn>
    <v-btn depressed large>
      <v-icon>
        mdi-timelapse
      </v-icon>
      <div style="width: 7px"> &nbsp; </div>
      Switch time mode
    </v-btn>
    <v-btn depressed large>
      <v-icon>
        mdi-translate
      </v-icon>
      <div style="width: 7px"> &nbsp; </div>
      Language
    </v-btn>
  </v-toolbar>
</template>

<script>

export default {
name: "Setting",

  data: () => ({
  }),
}

</script>

<style scoped>

</style>