<template>
  <v-toolbar tile dense>
    <v-btn depressed large tile @click="showEditSimDialog = true" :disabled="!editBtnEnabled">
      <v-icon color="green">
        mdi-relative-scale
      </v-icon>
      <div style="width: 7px"> &nbsp;</div>
      Edit scales
    </v-btn>
    <v-btn depressed large tile @click="startRender" :disabled="!renderBtnEnabled">
      <v-icon color="secondary">
        mdi-cog-sync-outline
      </v-icon>
      <div style="width: 7px"> &nbsp; </div>
      Render
    </v-btn>
    <v-btn depressed large tile @click="startSimulation" :disabled="!startBtnEnabled">
      <v-icon color="green">
        mdi-play
      </v-icon>
      <div style="width: 7px"> &nbsp; </div>
      Play
    </v-btn>
    <v-btn depressed large tile @click="pauseSimulation" :disabled="!pauseBtnEnabled">
      <v-icon color="orange">
        mdi-pause
      </v-icon>
      <div style="width: 7px"> &nbsp; </div>
      Pause
    </v-btn>
    <v-btn depressed large tile @click="stopSimulation" :disabled="!stopBtnEnabled">
      <v-icon color="red">
        mdi-stop
      </v-icon>
      <div style="width: 7px"> &nbsp; </div>
      Stop
    </v-btn>
    <AppWindow v-bind:show="loading" title="Rendering simulation..." unsubmitable>
      <br>
      <v-progress-linear
          color="secondary"
          indeterminate
      >
      </v-progress-linear>

    </AppWindow>
    <EditSim :show="showEditSimDialog" @canceled="showEditSimDialog = false" @saved="showEditSimDialog = false"></EditSim>
  </v-toolbar>
</template>

<script>
import AppWindow from '@/dialogs/AppWindow/AppWindow'
import {AppContext} from '@/utils'
import {EditSim} from '@/dialogs'

export default {
  name: 'Simulation',
  components: {
    AppWindow,
    EditSim
  },
  data: () => ({
    loading: false,
    simPause: false,
    showEditSimDialog: false,
  }),
  methods: {
    startRender() {
      this.loading = true
      AppContext.currentProject.Render()
        .then(() => this.loading = false)
        .catch(e => console.error(e))
    },
    startSimulation() {
      AppContext.simOn = true
      AppContext.simPause = false
      AppContext.mode = 1
    },
    pauseSimulation() {
      AppContext.simPause = true
    },
    stopSimulation() {
      AppContext.simOn = false
      AppContext.simPause = false
      AppContext.simFrame = 0
      AppContext.mode = 2
    }
  },
  computed: {
    editBtnEnabled() {
      return !AppContext.simOn
    },
    renderBtnEnabled() {
      if (AppContext.currentProject === null) return false
      return !AppContext.simOn && AppContext.currentProject.particles.length > 0
    },
    startBtnEnabled() {
      if (AppContext.currentProject === null) return false
      return AppContext.currentProject.frames.length > 0 && (AppContext.simPause || !AppContext.simOn)
    },
    pauseBtnEnabled() {
      return AppContext.simOn && !AppContext.simPause
    },
    stopBtnEnabled() {
      return AppContext.simOn
    }
  }
}
</script>

<style scoped>

</style>